<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />

    <title>INPI - 登录</title>

    @*    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">*@
    <link rel="stylesheet" href="~/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="~/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="~/assets/css/xenon-components.css">
    <link rel="stylesheet" href="~/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <script src="~/assets/js/jquery-1.11.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-body login-page login-light">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6">
                <!-- Errors container -->
                <div class="errors-container">
                </div>
                <!-- Add class "fade-in-effect" for login form effect -->
                <form method="post" role="form" id="login" class="login-form fade-in-effect">
                    <div class="login-header">
                        <a class="logo" href="javascript:;">
                            <img src="~/assets/images/logo-white-bg@2x.png" alt="" width="80" />
                            <span>注册</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtUserName">用户名</label>
                        <input type="text" class="form-control" name="userName" id="txtUserName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtPassword">请输入密码</label>
                        <input type="password" class="form-control" name="password" id="txtPassword" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtPasswordSec">再次输入密码</label>
                        <input type="password" class="form-control" name="passwordSec" id="txtPasswordSec" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtRealName">姓名</label>
                        <input type="text" class="form-control" name="realName" id="txtRealName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtCompany">公司</label>
                        <input type="text" class="form-control" name="company" id="txtCompany" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtPosition">职位</label>
                        <input type="text" class="form-control" name="position" id="txtPosition" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtPhoneNum">联系方式</label>
                        <input type="text" class="form-control" name="phoneNum" id="txtPhoneNum" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  btn-block text-left">
                            注册
                        </button>
                    </div>
                    <div class="login-footer">
                        @*<a href="/login/admin">Admin Login</a>*@
                        <a href="/Login">Back To Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bottom Scripts -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/TweenMax.min.js"></script>
    <script src="~/assets/js/resizeable.js"></script>
    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/xenon-api.js"></script>
    <script src="~/assets/js/xenon-toggles.js"></script>
    <script src="~/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assets/js/toastr/toastr.min.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="~/assets/js/xenon-custom.js"></script>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () { $(".fade-in-effect").addClass('in'); }, 1);
            $("form#login").validate({
                rules: {
                    userName: {
                        required: true
                    },
                    password: {
                        required: true
                    },
                    passwordSec: {
                        required: true
                    },
                    realName: {
                        required: true
                    },
                    company: {
                        required: true
                    },
                    position: {
                        required: true
                    },
                    phoneNum: {
                        required: true
                    }
                },
                // Form Processing via AJAX
                submitHandler: function (form) {
                    show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                    save();
                }
            });
        });

        function save() {
            var userName = $("#txtUserName").val();
            var password = $("#txtPassword").val();
            var realName = $("#txtRealName").val();
            var company = $("#txtCompany").val();
            var position = $("#txtPosition").val();
            var phoneNum = $("#txtPhoneNum").val();
            //var faxNum = $("#txtFaxNum").val();
            //var address = $("#txtAddress").val();
            //var postCode = $("#txtPostCode").val();
            var data = {
                userName: userName, password: password, realName: realName, company: company, position: position, phoneNum: phoneNum
            };
            $.ajax({
                url: "/Login/SaveRegister",
                data: data,
                type: "post",
                success: function (data) {
                    show_loading_bar({
                        delay: .5,
                        pct: 100,
                        finish: function () {
                            // Redirect after successful login page (when progress bar reaches 100%)
                            if (data.result == 1) {
                                toastr.success("注册成功，请返回登录")
                                setTimeout(function () {
                                    window.location.href = "/Login";
                                }, 2000);
                            }
                        }
                    });
                    // Remove any alert
                    $(".errors-container .alert").slideUp('fast');
                    // Show errors
                    if (data.result == 0) {
                        $(".errors-container").html('<div class="alert alert-danger">\
                                                                <button type="button" class="close" data-dismiss="alert">\
                                                                    <span aria-hidden="true">&times;</span>\
                                                                    <span class="sr-only">Close</span>\
                                                                </button>\
                                                                ' + data.msg + '\
                                                            </div>');
                        $(".errors-container .alert").hide().slideDown();
                    }
                }
            });
        }
    </script>
</body>
</html>